.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body {
    background-color: rgb(27, 27, 27);
}
h1 {
    color: white;
    font-size: 120px;
    font-family: 'Zwizz', sans-serif;
    line-height: 50%;
}
h2 {
    color: white;
    font-family: 'Zwizz', sans-serif;
    font-size: 50px;
    line-height: 40%;
}


twitter {
    color:rgb(251, 255, 218)
}
linkedin {
    color:rgb(143, 53, 179)
}
github {
    color:rgb(190, 97, 35)
}
simone {
    color:rgb(212, 243, 255)
}
music {
    color:rgb(126, 126, 126)
}
a {
    text-decoration: none;
}


h2:hover {
    opacity: 0.7;
}
simone:hover{
    opacity: 0.7;
}